*{
    margin: 0;
    padding: 0;   
}

body {font-family: Arial;}

/* Style ikon */
.ikon {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons inside ikon*/
.ikon button{
    background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.ikon button:hover {
    background-color: #ddd;
}

/* Create an active/current ikonlink class */
.ikon button.active {
    background-color: #ccc;
}

/* Style the tab content */
.linkcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.h4 {
    text-align: top left;
}
